h1, h2, h3, h4, h5 {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

h1 {
    font-weight: bold;
}

body {
    /*background-color: #6c6c6c;*/
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content_panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_inner {
    display: flex;
    flex-direction: row;
}

.splitter {
    width: 2px;
    background: #000000;
    margin: 5px 20px;
}

#lang_change {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid #366301;
    border-radius: 4px;
    cursor: pointer;
}

.content_block {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content_block h3 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.content_block .inner_content_block {
    display: flex;
    flex-direction: column;
    font-size: large;
    word-wrap: break-word;
}

.inline_text {
    white-space: nowrap;
}

a {
    outline: none;
    text-decoration: none;
    color: #366301;
    white-space: nowrap;
}

#photo {
    border: 1px solid #111;
    padding: 5px;
}

#photo img {
    display: block;
}

.content_table_row {
    display: flex;
    flex-direction: row;
}

.content_table_column {
    display: flex;
    flex-direction: column;
}

.scroll_area {
    overflow-y: scroll;
    height: 400px;
}

form {
    display: flex;
    align-items: center;
}

.text_block {
    text-indent: 20px;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.img_block {
    display: flex;
    object-fit: contain;
    flex-shrink: 0;
    aspect-ratio: 3/2;
}