h1 {
    font-weight: bold;
}

body {background-color: #6c6c6c;}

.main_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_inner {
    display: flex;
    flex-direction: row;
}

.splitter {
    width: 2px;
    background: #000000;
}

.content_block {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content_block h3 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.content_block .inner_content_block {
    font-weight: lighter;
    font-size: large;
}