{% extends "base.html" %}

{% block content %}
<div class="content">
    <header>
        <div class="header_inner">
            <h1>{{dct["header"]["header1"]}}</h1>
            <div class="splitter"></div>
            <h1 style="font-weight: bold">{{dct["header"]["header2"]}}</h1>
        </div>
        <div class="header_inner">
            <h4>{{dct["header_inner"]["text"]}}</h4>
            <form method="post" action="/">
                <input id="lang_change" type="submit" value={{dct["lang_changer"]["text"]}} name="change"
                       placeholder="rus">
            </form>
        </div>
    </header>
    <div class="main_content">
        <div class="content_panel">
            <div class="content_block">
                <h3>{{dct["biography"]["title"]}}</h3>
                <div class="inner_content_block">
                    {{dct["biography"]["text"]}}
                </div>
            </div>
            <div class="content_block">
                <h3>{{dct["education"]["title"]}}</h3>
                <div class="inner_content_block">
                    {% for row in dct["education"]["text"] %}
                    <div class="content_table_row">
                        <img src={{row["src"]}} width="40px" height="40px" alt="photo">
                        {{row["text"]}}
                        <a href="{{row["link"][1]}}">{{row["link"][0]}}</a>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="content_panel">
            <div class="main_content">
                <div class="content_panel">
                    <div class="content_block">
                        <h3>{{dct["supervisors"]["title"]}}</h3>
                        <div class="inner_content_block">
                            {% for elem in dct["supervisors"]["text"] %}
                            {{elem}}
                            <br>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="content_block">
                        <h3>{{dct["address"]["title"]}}</h3>
                        <div class="inner_content_block">
                            {% for elem in dct["address"]["text"] %}
                            {{elem}}
                            <br>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="content_block">
                        <h3>{{dct["links"]["title"]}}</h3>
                        <div class="inner_content_block">
                            {% for elem in dct["links"]["links"] %}
                            <a href="{{elem[1]}}">{{elem[0]}}</a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="content_panel">
                    <div id="photo">
                        <img src="static/assets/photo.png" width="100%" alt="photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_content">
        <div class="content_panel">
            <div class="content_block">
                <h3>{{dct["work"]["title"]}}</h3>
                <div class="inner_content_block">
                    {% for row in dct["work"]["text"] %}
                    <div class="content_table_row">
                        <img src={{row["src"]}} width="40px" height="40px" alt="photo">
                        {{row["text"]}}
                        <a href="{{row["link"][1]}}">{{row["link"][0]}}</a>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="content_block">
                <h3>{{dct["internships"]["title"]}}</h3>
                <div class="inner_content_block">
                    {% for row in dct["internships"]["text"] %}
                    <div class="content_table_row">
                        <img src={{row["src"]}} width="40px" height="40px" alt="photo">
                        {{row["text"]}}
                        <a href="{{row["link"][1]}}">{{row["link"][0]}}</a>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="content_panel">
            <div class="content_block">
                <h3>{{dct["articles"]["title"]}}</h3>
                <div class="inner_content_block">
                    <div class="scroll_area">
                        {% for article in dct["articles"]["articles"] %}
                        <div class="text_block">
                            {{article["text"]}}
                            <a href={{article["link"][1]}}>{{article["link"][0]}}</a>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="content_block">
                <h3>{{dct["reports"]["title"]}}</h3>
                <div class="inner_content_block">
                    <div class="scroll_area">
                        {% for report in dct["reports"]["reports"] %}
                        <div class="text_block">
                            {{report["text"]}}
                            <a href={{report["link"][1]}}>{{report["link"][0]}}</a>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
<!--<script>function changeName() {-->
<!--    document.getElementById('lang_change').value = document.getElementById('lang_change').value === "eng" ? "rus" : "eng";-->
<!--}-->
</script>
</div>
{% endblock %}