{% extends "base.html" %}

{% block content %}
<div class="content">
    <header>
        <div class="header_inner">
            <h1 style="white-space: nowrap;">{{dct["header"]["header1"]}}</h1>
            <div class="splitter"></div>
            <h1 style="white-space: nowrap;">{{dct["header"]["header2"]}}</h1>
        </div>
        <div class="header_inner">
            {{dct["header_inner"]["text"]}}
            <form method="post" action="/">
                <input id="lang_change" type="submit" value={{dct["lang_changer"]["text"]}} name="change"
                       placeholder="rus">
            </form>
        </div>
    </header>
    <div class="main_content">
        <div class="content_panel">
            <div class="content_block">
                <h2>{{dct["biography"]["title"]}}</h2>
                <div class="inner_content_block">
                    {%for art in dct["biography"]["text"]%}
                    <div class="text_block">{{art|safe}}</div>
                    {%endfor%}
                </div>
            </div>
            <div class="content_block">
                <h2>{{dct["education"]["title"]}}</h2>
                <div class="inner_content_block">
                    {% for row in dct["education"]["text"] %}
                    <div class="content_table_row" style="align-items: center">
                        <img class="img_block" src={{row["src"]}} width="80px" alt="photo">
                        <div class="content_table_column">
                            <h4>{{row["header"]}}</h4>
                            {{row["text"]|safe}}
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="content_panel">
            <div class="main_content">
                <div class="content_panel">
                    <div class="content_block">
                        <h2>{{dct["supervisors"]["title"]}}</h2>
                        <div class="inner_content_block">
                            {% for elem in dct["supervisors"]["text"] %}
                            {{elem|safe}}
                            <br>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="content_block">
                        <h2>{{dct["address"]["title"]}}</h2>
                        <div class="inner_content_block">
                            {% for elem in dct["address"]["text"] %}
                            {{elem|safe}}
                            <br>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="content_block">
                        <h2>{{dct["links"]["title"]}}</h2>
                        <div class="inner_content_block">
                            {% for elem in dct["links"]["links"] %}
                            <a href="{{elem[1]}}">{{elem[0]|safe}}</a>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="content_block">
                        <h2>{{dct["languages"]["title"]}}</h2>
                        <div class="inner_content_block">
                            {% for elem in dct["languages"]["text"] %}
                            {{elem|safe}}
                            <br>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="content_panel">
                    <div id="photo">
                        <img src="static/assets/photo.png" width="100%" alt="photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_content">
        <div class="content_panel">
            <div class="content_block">
                <h2>{{dct["grants"]["title"]}}</h2>
                <div class="inner_content_block">
                    {% for row in dct["grants"]["grants"] %}
                    <div class="content_table_column">
                        <h4>{{row["header"]}}</h4>
                        {{row["time"]}}
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="content_block">
                <h2>{{dct["membership"]["title"]}}</h2>
                <div class="inner_content_block">
                    {% for row in dct["membership"]["memberships"] %}
                    <div class="content_table_column">
                        <h4>{{row["header"]}}</h4>
                        {{row["time"]}}
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="content_block">
                <h2>{{dct["certificates"]["title"]}}</h2>
                <div class="inner_content_block">
                    {% for row in dct["certificates"]["certificates"] %}
                    <div class="content_table_column">
                        <h4>{{row["header"]}}</h4>
                        {{row["time"]}}<br>
                        {{row["text"]|safe}}
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="content_block">
                <h2>{{dct["video"]["title"]}}</h2>

                <div class="inner_content_block">
                    <iframe height="315px" src={{dct["video"]["src"]}}
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="content_panel">
            <div class="content_block">
                <div class="content_table_row" style="align-items: center" style="align-items: center">
                    <h2>{{dct["articles"]["title"]}}</h2>
                    <div style="padding-left: 20px">
                        {{dct["articles"]["sub_title"]}}
                    </div>
                </div>
                <div class="inner_content_block">
                    <div class="scroll_area">
                        {% for year in dct["articles"]["articles_for_years"] %}
                        <h4>{{year["year"]}}</h4>
                        {% for article in year["articles"] %}
                        <div class="text_block">
                            <h2>{{article["header"]}}</h2>
                            {{article["text"]|safe}}
                            <a href={{article["link"][1]}}>{{article["link"][0]}}</a>
                        </div>
                        {%endfor%}
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="content_block">
                <h2>{{dct["reports"]["title"]}}</h2>
                <div class="inner_content_block">
                    <div class="scroll_area">
                        {% for report in dct["reports"]["reports"] %}
                        <div class="text_block">
                            <h2>{{report["header"]}}</h2>
                            {{report["text"]|safe}}
                            <a href={{report["link"][1]}}>{{report["link"][0]}}</a>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="content_block">
                <h2>{{dct["activities"]["title"]}}</h2>
                <div class="inner_content_block">
                    {% for row in dct["activities"]["activities"] %}
                    <div class="content_table_row" style="align-items: center">
                        <img class="img_block" src={{row["src"]}} width="80px" alt="photo">
                        <div class="content_table_column">
                            <h4>{{row["header"]}}</h4>
                            {{row["text"]|safe}}
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
</div>
{% endblock %}